@import './node_modules/normalize.scss/normalize';

@import url('https://fonts.googleapis.com/css?family=Lato:400,700');

* {
box-sizing: border-box;
transition: all .5s;
margin: 0;
padding: 0;
}

html, body {
min-height: 100%;
}

body {
color:  #3c3c3c;
font: 14px/1.4 'Lato', Arial, sans-serif;
}

a{
text-decoration: none;
color:inherit;
}

section{
overflow: hidden;
}

li{
display: inline-block;
}

.first-section{
position: relative;
width: 100%;
height: 100vh;
overflow: hidden;
padding: 0;
}

#particle-canvas{
left: 0;
right: 0;
top: 0;
bottom: 0;
position: absolute;
z-index: 1;
overflow: hidden;

}

.main {
position: absolute;
z-index: 99;
left: 0;
right: 0;
top: 0;
bottom: 0;
overflow: hidden;


.wrap{
	max-width: 1200px;
	margin: 0 auto;
	flex-direction: column;
	height: 100%;
	display: flex;
	position: relative;
}
}

.header {
display: flex;
justify-content: space-around;	
align-items: center;
overflow: hidden;
flex-wrap: wrap;
}

.logo {
&__link{
	vertical-align: middle;
	color: #eee;
	text-transform: capitalize;
	font-size: 30px;
	text-decoration: none;
}
img{
	vertical-align: middle;
	width: 50px;
	height: 50px;
}
}
.header-nav {
display: inline-block;

&__items {
	display: flex;
	justify-content: space-around;
}
&__item {
	display: inline-block;
	margin-left: 15px;
}
&__link {
	text-transform: capitalize;
	color: #eee;
	text-decoration: none;
	font-size: 18px;
	padding: 5px;
}

&__link:hover{
	color: #bbb;
}
}
.desc {
letter-spacing: 1px;
text-align: center;
}
.subtitle {
font-size: 22px;
text-align: center;
}
.btn {
margin-top: 40px;
background: #998675;
border: none;
outline: none;
padding: 10px 20px;
text-transform: uppercase;
color: #eee;
border-radius: 5px;
font-weight: bold;
border: 1px solid transparent;
} 
.block {
height: 300px;
width: 500px;
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
color: #eee;
text-align: center;
&__title {
	margin-top: 10px;
	font-size: 34px;
	font-weight:bold;
	color: #fff;
}
}


.wrap {
max-width: 1200px;
margin: 0 auto;
}

// realisation***************************
.realisation {
padding: 50px 0;
}

.realisation .what-we-do__ic img{
filter: brightness(50%);
transform: rotate(15deg) translate(10px, -10px) scale(1.1, 1.1);

}

.what-we-do__item:hover img{
transform: rotate(0deg) translate(0, 0) scale(1, 1);
box-shadow: none;
}

.what-we-do__ic svg{
width: 80px;
fill:#eee;
}
.what-we-do {
&__items {
	display: flex;
	justify-content: space-around;
}
&__item {
	display: inline-block;
	text-align: center;
	padding: 10px;	
}

.subtitle{
	margin-bottom: 10px;
}


&__link{
	text-decoration: none;
	color: #555;
	hr{
		width: 25%;
		margin: 0 auto;
		margin-top: 40px;
		height: 2px;
		visibility: hidden;
		background: #c7b299;
	}
}

&__link:hover{
	color: #c7b299;
}
&__link:hover hr{
	visibility: visible;
}

&__ic {
}
&__title {
}
&__text {
	font-size: 16px;
	height: 90px;
}
}

// wordpress*******************************

.wordpress{
width: 100%;
height: 300px;
background: linear-gradient(to right, #231c1a, #4d3326);
.subtitle{
	color: #eee;
}
.desc{
	color: #777;
}
.wrap{
	height: 100%;
	display: flex;
	justify-content: space-around;
	align-items: center;
	padding: 0 10px;
	.btn{
		margin-top: 0;
	}
}
}

// projects*****************************
.projects {
padding: 50px 0;
text-align: center;
.desc {
	width: 50%;
	margin: 0 auto;
	color: #aaa;
}
}

.subtitle {
}
.list-directions {
display: flex;
justify-content: space-between;
flex-wrap: wrap;
width: 60%;
margin: 0 auto;
justify-content: space-around;

}

.btn:hover{
background: #fff;
border: 1px solid  #998675;
color: #333;
}
.btn--inverse {
background: #fff;
border: 1px solid  #998675;
color: #333;
}
.btn--inverse:hover {
background: #998675;
color: #fff;
}





.block-examples {
margin-top: 40px;
&__list{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;

}
&__text {
	text-align: left;
	padding: 20px;
	background: #fff;
	color: #998675;

}
.subtitle {
	color: inherit;
	text-align: inherit;
}
.desc{
	text-align: inherit;
	width: 100%;
	color:inherit;
}
&__item{
	margin-top: 30px;
}

&__item:hover &__img {
	filter: brightness(70%);
	cursor: pointer;
}

&__item:hover .layout{
	display: block;
}

&__item:hover .block-examples__text {
	background: #362f2d;
	color: #eee;
	cursor: pointer;
}


&__img-wrap{
	position: relative;
}
&__img {

}
.layout{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	display: none;
}
}

.btn--margined{
margin: 20px auto;
}

// mobile*******************************

.mobile__link{
position: relative;
margin-bottom: 15px;
}

.mobile__link:before{
content: ">";
color:#eee;
padding: 5px;
line-height: 15px;
text-align: center;
font-size: 30px;
height: 18px;
background: #c7b299;
position: absolute;
left: 0px;
border-radius: 50%;
vertical-align: middle;
}

.block-mobile {
width: 66%;
text-align: left;
.subtitle {
	text-align: inherit;
}
.desc {
	margin-top: 20px;
	text-align: inherit;
}
}
.mobile-list {
margin-top: 40px;
margin-left: 60px;
}
.mobile {
color: #8c8c8c;
padding: 50px 0 0;
.wrap {
	display: flex;
	justify-content: flex-end;
	background: url(../img/iphone.png) no-repeat left ;
	background-size: contain;
}
&__item {
	display: block;
}
&__link {
	display: inline-block;
	padding: 10px 0 10px 50px;		
	vertical-align: middle;
	font-size: 16px;
	color: #8c8c8c;
}

&__link:hover{
	color: #555;
}

&__link:hover:before{
	color: #ccc;
	background: #feb;
}

&-img{
	border: 4px solid  #f00;
}

&-img img{
	border: 4px solid  #ff0;

	display: none;
	height: 100%;
	width: auto;
}
}

.pl{
width: 100%;
}

.pb{
width: 20%;
text-transform: uppercase;
color: #fff;
padding: 40px;
}

// partners****************************

.partners{
background: url(../img/part.jpg) no-repeat center ;
background-size: cover;
.wrap{
	padding: 120px 5px 120px 5px;
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	align-items: center;
}
&__img{
	margin-top: 40px;
}
}

// buttom-section*********************************

.buttom-section{
background: #191919;
padding: 50px 10px;
.desc{
	text-align: left;
	margin: 20px 0;
}
}


.buttom-section-items{
display: flex;
justify-content: space-around;

}

.buttom-section__item{
flex-basis: 22%;
color: #555;
display: flex;
flex-direction: column;
}

.list-posts{
&__title{
	font-size: 24px;
	color: #fff;
	text-transform: capitalize;
	font-weight: bold;
	margin-bottom: 10px;
}
&__item{
	border-bottom: 2px solid #363636;
	padding: 10px 0 15px;
}
&__date{
	font-size: 12px;
	text-transform: capitalize;
	color: #363636;
}
&__post{
	font-size: 14px;
}
}

.list-posts_date_margined{
margin: 5px 0 5px;
}
.list-posts__link{
display: inline-block;
}
.list-posts__link:hover{
color: #ddd;
}

.link_blue{
color: #00bff3;
}

// footer**********************************

.footer{
background: #111;
.wrap{
	display: flex;
	padding: 40px 0px;
	justify-content: space-around;
}
.foot-list{
	color: #aaa;
	&__item{
		border-right: 1px solid  #aaa;
		padding: 0 15px;
	}
	&__item_bd_no{
		border: none;
	}
}
.text_white{
	color: #eee;
}
}

// media***********************


@media screen and (max-width:1030px) {
.header-nav__item{
	margin-left: 1px;
}
.list-direction{
	flex-wrap: wrap;
}
}


@media screen and (max-width:900px) {

.wordpress-bot{
	height: auto;
}

.what-we-do__items {
	flex-wrap: wrap;
}
}

@media screen and (max-width:800px) {
.main .block{
	position: relative;
}

.header-nav{
	margin-top: 40px;
}

.what-we-do__item{
	width: 75%;
}

.what-we-do__link hr{
	margin-top: 10px;
}

.wordpress-bot{
	.what-we-do__item{
		width: 40%;
	}
}
.mobile + .wordpress{
	.wrap{
		flex-wrap: wrap;
	}
}
}

@media screen and (max-width:700px) {
.block .desc{
	width: 70%;
	padding: 0 10px;
	font-size: 14px;
	margin: 0 auto;
	letter-spacing: 0;
}

.mobile .wrap {
	background-image: none;
	justify-content: center;
}

.mobile{
	padding-bottom: 40px;
}

.buttom-section-items {
	flex-wrap: wrap;
}
.header-nav__items{
	flex-wrap: wrap;
}
.buttom-section__item{
	flex-basis: 42%;
}

.mobile-list{
	margin-left: 0;
}

}
